body {
    margin: 0 auto;
    width: 894px;
    height: 755px;
    padding: 5px;
    display: flex;
    margin-left: 355px;
}
.main_block{
display: flex;
background-color: cadetblue;
padding: 20px 20px 10px;
border: 2px solid yellow;
}

.photo {
    height: 200px;
    width: 200px;
    border: 5px solid yellow;
}
.right_section {
    padding-left: 85px;
}
.left_section {
    padding-left: 30px;
}
h1 {
    padding-top: 20px;
    border-bottom: 1px solid;
}
p {
    font-size: 15px;
    font-family: sans-serif;
} 
.code_title {
    margin-block: -4px;
    margin-bottom: 3px;
}
.name {
    border: none;
    font-size: 30px;
    margin: 0;
    padding: 17px 0px;
}